version: '3'

services:
  strapi:
    image: ${STRAPI_IMAGE:-kinza-admin-v2-strapi:local}
    build:
      context: .
      dockerfile: ./images/strapi/Dockerfile
    env_file:
      - .env
    ports:
      - '1337:1337'
    restart: always

  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: always
    env_file:
      - .env
    ports:
      - '5678:5678'
    volumes:
      - n8n_storage:/home/node/.n8n
    depends_on:
      - n8n_db

  n8n_db:
    image: postgres:16.1
    env_file:
      - .env
    ports:
      - '6543:5432'
    volumes:
      - ./n8n_db:/var/lib/postgresql/data

volumes:
  n8n_storage:
